<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Board</title>
</head>
<body>
<h1>Content Board</h1>
<form action="/content" method="post">
    <textarea name="text" placeholder="text me"></textarea>
    <button type="submit">Save</button>
</form>
<h2>Contents</h2>
<ul>
    <li th:each="content : ${contents}">
        <td th:text="${content.id}"></td>
        <td th:text="${content.text}"></td>
        <td>
            <form action="delete" method="post">
                <input type="hidden" name="id" th:value="${content.id}">
                <input type="hidden" name="content" th:value="${content.text}">
                <input type="submit" value="삭제">
                <a th:href="@{/delete/{idValue}(idValue=${content.id})}"></a>
            </form>
        </td>
        <td>
            <a th:href="@{/update/{idValue}(idValue=${content.id})}">수정</a>
        </td>
    </li>
</ul>
</body>
</html>
